<h1>TestApp</h1>
<% @projects.each do |project| %>
    <h3><%= project.name %></h3>
    <p><%= project.summary %></p>
    <p><%= project.start_date %></p>
    <p><%= project.end_date %></p>
<% end %>
